*{
	font-family: "Tahoma";
	margin: 0px;
	padding: 0px;
}
/*everything will be contained in this wrapper*/

#container{
	width: 960px;
	height: 650px;
	padding: 10px;
	background-color: lightblue;
	margin: 0px auto;
	overflow: hidden;
}
#middle_box{
	background-color: grey;
	width: 211px;
	height: 200px;
	margin:  100px auto;
}
	#middle_box h1{
		font-size: 24px;
		text-align: center;
		color:orange;

	}
button{
	margin: 10px 2px 1px 2px;
	width: 60px;
	height: 30px;
	border-radius: 5px;
}
#new_menu h1{
	color: orange;
}
#button_area{
	width: 213px;
}
#image{
	float:left;
}
#image1{
	float:right;
}
